.English-Section-Kevin {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: lightcyan;
}

/* 
YOU NEED TO GIVE THIS A CLASS
h1 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
} */

.Word-Mult-Choice {
	background-color: lightseagreen;
}

.Fill-In-Blank {
	background-color: lightseagreen;
}

.Directions {
	background-color: lightblue;
}
