.English {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	background-color: lightcyan;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	padding-left: 50px;
}

.Head-Title {
	text-align: center;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	background-color: rgb(156, 243, 243);
	border-radius: 15px;
}

.WordMultChoice {
	overflow: auto;
	text-align: initial;
	border-radius: 8px;
	background-color: lightseagreen;
}

.FillInTheBlank {
	overflow: auto;
	text-align: initial;
	border-radius: 8px;
	background-color: lightseagreen;
}

.ImageQuestion {
	overflow: auto;
	background-color: lightseagreen;
	border-radius: 8px;
}

.Directions {
	padding-top: 15px;
	padding-bottom: 15px;
	background-color: lightcyan;
}

.Submission {
	border-radius: 20px;
}

.Question {
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.center {
	display: block;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
